  
  <BR/>
  Your cart includes:
  <TABLE>
  <% current_user.current_order.order_items.each do |oi| %>
    <TR><TD><%= oi.product.name %></TD><TD><%= oi.quantity %></TD><TD><%= link_to "Remove", "/product/#{oi.product.id}/remove_from_cart" %></TD></TR>
  <% end %>
  </TABLE>
  <%= link_to "Check out!", "order/#{current_user.current_order.id}/verify" %>
