    <B><%= product.name %></B>
    <P>
      <%= product.description %><br/>
      <%= link_to "Add to cart!", "/product/#{product.id}/add_to_cart" %> <%= link_to "Edit", "/product/#{product.id}/edit" if current_user.is_storekeeper %> <%= link_to "Destroy", "/product/#{product.id}/destroy" if current_user.is_storekeeper %>
    </P>
