<h1>Products List!</h1>
<p>Here is a list of products</p>

<%= link_to "Order history", "order/history" %><BR/>

<% if flash[:notice] %><U><%= flash[:notice] %></U><% end %>

<%= render 'cart' %>

<% Category.all.each do |category| %>
<%= render 'category', category: category %>
<% end %>
