<h1>Viewing <%= @scope %> Orders</h1>

<TABLE>
  <TR><TD><B>Customer</B></TD><TD><B>Order Contents</B></TD><TD><B>Completed Date</B></TD></TR>
  <% @orders.each do |order| %>
    <TR>
      <TD><%= order.user.name %></TD>
      <TD>
        <% order.order_items.each do |oi| %>
        <%= oi.product.name %> <%= oi.quantity %><br />
        <% end %>
      </TD>
      <TD><%= order.completed_at ? order.completed_at : "Open cart"  %></TD>
  <% end %>
</TABLE>
