<h1>Update Old Product!</h1>

<%= form_for @product do |f| %>
<%= f.label :name, "Product name" %> <%= f.text_field :name %><BR/>
<%= f.label :price, "Product price" %>  <%= f.text_field :price %><BR/>
<%= f.label :cost, "Product cost" %>  <%= f.text_field :cost %><BR/>
<%= f.label :category_id, "Product category_id" %>  <%= f.text_field :category_id %><BR/>

<%= f.label :description, "Product description" %>  <%= f.text_area :description %><BR/>
<%= f.submit %>
<% end %>
