<h1>Create new Product!</h1>

<%= form_for Product.new, url: { action: "create" } do |f| %>
Product name: <%= f.text_field :name %><BR/>
Product price: <%= f.text_field :price %><BR/>
Product cost: <%= f.text_field :cost %><BR/>
Product category: <%= f.text_field :category_id %><BR/>

Product description: <%= f.text_area :description %><BR/>
<%= f.submit %>
<% end %>
