<h1>Update Old Product!</h1>
<%= "<U>#{flash[:notice]}</U>" if flash[:notice] %>
Product name: <%= @product.name %><BR/>
Product price: <%= @product.price %><BR/>
Product cost: <%= @product.cost %><BR/>
Product category: <%= @product.category_id %><BR/>

Product description: <%= @product.description %><BR/>
