<h1>Update Old Product!</h1>
<%= "<U>#{flash[:notice]}</U>" if flash[:notice] %>

<%= form_for @product, url: { action: "update" } do |f| %>
<%= f.hidden_field :id %>
Product name: <%= f.text_field :name %><BR/>
Product price: <%= f.text_field :price %><BR/>
Product cost: <%= f.text_field :cost %><BR/>
Product category: <%= f.text_field :category_id %><BR/>

Product description: <%= f.text_area :description %><BR/>
<%= f.submit %>
<% end %>
